<div id="index-container">

	<div class="nav">
		<% if logged_in? %>
		  Logged in as: <%= current_user.first_name %> <%= current_user.last_name %> <%= link_to 'Log Out', logout_path, method: :delete %>
		<% else %>
		  <%= link_to 'Log In', login_path %>
		<% end %>
	</div>

	<div class="header">
		<h1>Welcome to Where the Magic Happens</h1>
	</div>

	<div class="post-button">
		<%= link_to 'Add New Post', new_post_path %>
	</div>

	
	<br>
	<div class="full-post">

		<% @users.each do |user| %>

			<li>
				<h2><%=  image_tag user.image_url.url(:thumb) %> <%= user.first_name %> <%= user.last_name %> <h2>

				<br>

				<h3><%= link_to 'View Profile', user_path(user) %><h3>
		    
		    	<h3>Hipster Index: <%= user.hipster_index %></h3>
		    
		    	
			</li>
			<div class="post">
				<div class="post-image">
					<%= image_tag user.posts.last.image_url %> 
				</div>
				
				<div class="post-description">
					<%= user.posts.last.description %>
				</div>
			</div> <!-- end post -->
			<% end %>

			
	</div> <!-- end full-post -->

	
		
		

	
</div>

