<h1>User Profile</h1>


<%= @user.first_name %> <%= @user.last_name %>
<br>
<%= link_to 'Add New Post', new_post_path %> <%= link_to "Go Back", users_path %>


<h3>All of your posts are listed here brah</h3>

<% @user.posts.each do |post| %>
	
	<%= image_tag post.image_url %>
	<br>
	<br>
	<%= post.description %>
	<br>
	<br>
	<%= form_for Like.new do |f| %>
		<%= hidden_field_tag(:post_id, post.id)  %> <!-- creating a hidden field in our form that will pass the posts id along when the form is submitted -->
		
		<%= f.submit "Mainstream"%>
	<% end %>
	<br>
	<br>
<% end %>





